body {
    background-image: linear-gradient(to right,orange, orangered);
    margin: 0;
}

form { 
    display: table;
}

p { 
    display: table-row;
}

label {
     display: table-cell;
}

input {
     display: table-cell;
}


