.hidden {
    display: none;
}

.nome-cidade {
    position: fixed;
    display: flex;
    top: 0%;
    left: 0%;
    width: 20%;
    height: 10%;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(100, 155, 220, 0.4);

}

.lista-recursos {
    position: fixed;
    display: inline-flex;
    top: 0%;
    right: 0%;
    width: 20%;
    height: 10%;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(100, 155, 220, 0.4);
}

.botoes-principal{
    display: flex;
    position: fixed;
    justify-content: right;
    gap: 10px;
    bottom: 5%;
    right: 5%;

}

.botao-circular {
    border: none;
    background-color: #555555;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
}

.board-container {
    background: white;
    display : block;
    width: 100%;
    height: 100%;
    margin: auto;
}

#board {
    position : absolute; 
    top : 0px; 
    left : 0px; 
    z-index: -1;
}

.square {
    width: 100%;
    height: 100%;
    background-color: rgb(230, 230, 230);
    background-size: contain;
    background-repeat: no-repeat;
    border: 0.1vw solid rgb(116, 116, 116);
    transition: background-color 450ms ease;
    transform: translate(0, 0);
}

.square:hover {
    background-color: rgb(240, 240, 240);
    transition: background-color 300ms ease;
}

.square.selected {
    background-color: rgb(240, 240, 240);
}

.icones {
    height: 90px;
}

table {
  border-spacing: 30px;
  position: absolute;
  top: 50%;
  right: 50%;
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  background-color: gray;
  font-size: 40px;
  color: white;
}

th, td {
  padding: 15px;
}

#tabela-construcao .coluna, #tabela-info .coluna{
    background-color: gold;
    color: black;
}

#tabela-construcao .coluna-construir, #tabela-info .coluna-construir{
    background-color: limegreen;
    font-size: 40px;
}

.botao-info{
    background-color: gold;
    border: none;
    font-size: 40px;
    cursor: pointer;
}

.botao-construir{
    background-color: limegreen;
    border: none;
    font-size: 40px;
    cursor: pointer;
}

.botao-visitar {
    background-color: cadetblue;
    border: none;
    font-size: 40px;
    cursor: pointer;
}

.botao-cancelar {
    border: none;
    background-color: red;
    border-radius: 50%;
    padding: 15px;
    color: white;
    height: 120px;
    width: 120px;
    font-size: 20px;
    cursor: pointer;
}

.botao-rotacionar, .visitar-voltar {
    border: none;
    background-color: blue;
    border-radius: 50%;
    padding: 15px;
    color: white;
    height: 120px;
    width: 120px;
    font-size: 20px;
    cursor: pointer;
}

.botao-confirmar {
    border: none;
    background-color: limegreen;
    border-radius: 50%;
    padding: 15px;
    color: white;
    height: 120px;
    width: 120px;
    font-size: 20px;
    cursor: pointer;
}

.descricao {
    height: 300px;
}

#tabela-info .coluna, #tabela-busca .coluna {
    color: black;
}

#tabela-amigos .coluna img {
    width: 30px;
}

#tabela-amigos .coluna-visitar {
    background-color: cadetblue;
    color: white;
}

#tabela-busca {
    color: white;
}

#tabela-busca tr{
    background-color: darkgray;
}

#tabela-busca tr td img {
    width: 50px;
}

#nome-usuario {
    position: fixed;
    display: flex;
    top: 0%;
    left: 0%;
    width: 20%;
    height: 10%;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(100, 100, 100, 0.4);
}

.botao-voltar {
    border: none;
    border-radius: 50%;
    padding: 15px;
    height: 120px;
    width: 120px;
    font-size: 20px;
    background-color: gold;
    cursor: pointer;
}